/* Number Animation Styles */
#number-animation-container {
    position: fixed;
    top: 50%;
    left: 50%;
    
    font-size: 13em;
    color: #fff;
    background: #00A2FF;
    width: 1.5em;
    height: 1.5em;
    display: none;
    z-index: 1000;
    border-radius: 50%;
    text-align: center;
    align-items: center;
    justify-content: center;
    animation: pop 0.5s infinite alternate ease-in-out;
    transition: transform 0.5s ease, background-color 0.3s ease;
    box-shadow: 0 0 50px #00A2FF;
}

/* Animations */
@keyframes pop {
    0% {
        transform: scale(1) translate(-50%, -50%);
        background-color: #00A2FF; box-shadow: 0 0 15px #00A2FF;
    }
    50% { transform: scale(1.01) translate(-50%, -50%); color: #ffffff; background-color: #00A2FF; box-shadow: 0 0 5px #ffffff; }
    100% {
        transform: scale(1) translate(-50%, -50%);
        background-color: #00A2FF; box-shadow: 0 0 15px #202020;
    }
}
